.cabecalhoPrincipal-nav{
    display: inline-flex;
}
.conteudoPrincipal-cursos{
    display: flex;
    justify-content: flex;
    flex-wrap: wrap;
}
.conteudoPrincipal-cursos-link{
    width: 23%;
}
.flexitem{
    display: flex;
    justify-content: space-between;  
}
/* VIDEO */
.flexitem2{
    display: flex;
    justify-content: space-evenly;  
}
.videoSobre-sobre-title, 
.videoSobre-sobre-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.videoSobre-button{
    width: 100%;
}
/* RODAPE */
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap;

}
.rodapePrincipal-navMap{
    display: flex;
    flex-direction: column;
}

.rodapePrincipal-navMap-link{
    height: auto;
}
.navmap-list-title{
    display: flex;
    height: 40px;
}

/* RODAPE PRINCIPAL */

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 768px) and (min-widht: 540px){
    .conteudoPrincipal-cursos-link{
        width: 100%;

    }
}
